.test {
    text-align: center;
    &__box {
        margin: 0;
    }
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-color: gray;
}
